<%= form_with(model: purchase, local: true) do |form| %>
  <% if purchase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(purchase.errors.count, "error") %> prohibited this purchase from being saved:</h2>

      <ul>
      <% purchase.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :common_name %>
    <%= form.text_field :common_name, id: :purchase_common_name %>
  </div>

  <div class="field">
    <%= form.label :specific_name %>
    <%= form.text_field :specific_name, id: :purchase_specific_name %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
 	<%= form.collection_select :category_id, Category.all, :id, :name, :prompt => "Select a Category" %>
  </div>

  <div class="field">
    <%= form.label :shop_id %>
 	<%= form.collection_select :shop_id, Shop.all, :id, :name, :prompt => "Select a Shop" %>
    <%= form.text_field :shop_id, id: :purchase_shop_id %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :purchase_price %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.text_field :quantity, id: :purchase_quantity %>
  </div>

  <div class="field">
    <%= form.label :subquantity %>
    <%= form.text_field :subquantity, id: :purchase_subquantity %>
  </div>

  <div class="field">
    <%= form.label :denomination_id %>
 	<%= form.collection_select :denomination_id, Denomination.all, :id, :name, :prompt => "Select a Denomination" %>
  </div>

  <div class="field">
    <%= form.label :is_sale %>
    <%= form.check_box :is_sale, id: :purchase_is_sale %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
